
<div class="row">
  <div class="col-12">
    <h3 class="a-fontBold a-fontSizeM">
      Kvittering på e-post (for innsendinger du gjør for andre)
    </h3>
  </div>
  <div class="col-12 col-md-5">
    
    <div class="form-group a-form-group  ">
      <label class="a-form-label  " for="text-input-3">E-postadresse</label>
      <div class="a-form-group-items input-group   ">
        <span class="input-group-addon hidden-sm-down">
<i class="ai ai-closedmessage   "    ></i>
</span>
        <input class="form-control   a-hasIcon 
         " type="email" placeholder="E-postadresse" name="email-field" data-val="true" id="text-input-3" required>
      </div>
      <div class="a-message a-message-error" data-valmsg-for="email-field" data-valmsg-replace="true"></div>
    </div>
    
  </div>
</div>
<div class="row">
  <div class="col">
    
    <div class="form-check a-form-checkboxes    ">
      <label class="custom-control custom-checkbox">
            <input type="checkbox"  class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="ml-1">Jeg ønsker kvittering på e-post for innsendte skjema</span>
          </label>
    </div>
    
  </div>
</div>
<div class="row">
  <div class="col mt-1">
    
    <button class="a-btn a-btn-success ">
  
    Lagre
  
</button>
    
  </div>
</div>
