<footer class="c-footer" role="contentinfo">

    <p>Har du spørsmål angående designsystemet? Åpne en issue på  <a href="https://github.com/Altinn/DesignSystem/issues"> GitHub</a> eller send oss en  <a href="mailto:#"> epost</a></p>.

</footer><!--end c-footer-->

<script src="{{ "/js/vendor/jquery-3.1.0.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/vendor/prism.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/vendor/iframe-resizer.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/vendor/clipboard.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/style-guide.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/style-guide-custom.js" | prepend: site.baseurl }}"></script>


<!-- Bundled assets -->
<script src="/designsystem-styleguide/dist/js/infoportal.vendor.js"></script>
<script src="/designsystem-styleguide/dist/js/infoportal.js"></script>