<footer class="c-footer" role="contentinfo">

  <div class="l-container">
    <p>Har du spørsmål angående designsystemet? Send oss en  <a href="mailto:linn.dragen@brreg.no"> epost</a>, eller åpne en issue på  <a href="https://github.com/Altinn/DesignSystem/issues"> GitHub</a> om du har funnet noen feil/forbedringsforslag.</p>
  </div>

</footer><!--end c-footer-->

<script src="{{ "/js/vendor/jquery-3.1.0.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/vendor/prism.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/vendor/iframe-resizer.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/vendor/clipboard.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/style-guide.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/style-guide-custom.js" | prepend: site.baseurl }}"></script>


<!-- Bundled assets -->
<script src="/designsystem-styleguide/js/infoportal.vendor.js"></script> <!-- Todo: Change this to altinnPrototyping.vendor.js -->
<script src="/designsystem-styleguide/js/infoportal.js"></script> <!-- Todo: Change this to altinnPrototyping.js -->
