<header class="c-header c-header--vertical" role="banner">

    <div class="c-header__inner">

        {% include logo.html %}

    	<!--<button class="c-btn c-btn--small c-header__nav-btn js-nav-trigger">Menu</button> -->

    	<div class="c-header__nav-container">

      <div class="display-altinn">
			  {% include primary-nav.html %}
      </div>

      <div class="display-brreg">
        {% include primary-nav-brreg.html %}
      </div>

    	</div><!--end c-header__nav-container-->

    </div><!--end c-header__inner-->

</header><!--end c-header-->
