<nav class="c-primary-nav" role="navigation">

	<ul class="c-primary-nav__list c-primary-nav__list--flush js-nav-panel" role="tablist" aria-multiselectable="true">

		<li class="c-primary-nav__item {% if page.url contains '/lenker-og-knapper' %}is-active{% endif %}">
			<a class="c-primary-nav__link c-primary-nav__link--has-children js-nav-dropdown-trigger {% if page.url contains '/lenker-og-knapper' %} is-active is-current{% endif %}" href="{{ "/komigang/" | prepend: site.baseurl }}">

				<span class="c-primary-nav__text">Lenker og knapper</span>

				<svg class="c-icon c-primary-nav__icon" aria-hidden="true">
					<use xlink:href="{{ "/icons.svg#chevron-right" | prepend: site.baseurl }}"></use>
				</svg>

			</a>

			<ul class="c-primary-nav__sublist js-nav-dropdownn {% if page.url contains '/lenker-og-knapper' %} is-active{% endif %}">
			{% for my_page in site.pages %}

				{% if my_page.group == "lenker-og-knapper" %}
				<li class="c-primary-nav__item">
					<a class="c-primary-nav__link {% if my_page.url == page.url %}is-active is-current{% endif %}" href="{{ my_page.url | prepend: site.baseurl }}">
                    {% if my_page.title == "lenker-og-knapper" %}

                    <span class="c-primary-nav__text">Overview</span>

                    {% else %}

                    {{ my_page.title }}

                    {% endif %}
					</a>
				</li>
				{% endif %}

			{% endfor %}
			</ul>
		</li>

		<li class="c-primary-nav__item {% if page.url contains '/skjemakomponenter' %}is-active{% endif %}">
			<a class="c-primary-nav__link c-primary-nav__link--has-children js-nav-dropdown-trigger {% if page.url contains '/skjemakomponenter' %} is-active is-current{% endif %}" href="{{ "/komigang/" | prepend: site.baseurl }}">

				<span class="c-primary-nav__text">Skjemakomponenter</span>

				<svg class="c-icon c-primary-nav__icon" aria-hidden="true">
					<use xlink:href="{{ "/icons.svg#chevron-right" | prepend: site.baseurl }}"></use>
				</svg>

			</a>

			<ul class="c-primary-nav__sublist js-nav-dropdownn {% if page.url contains '/skjemakomponenter' %} is-active{% endif %}">
			{% for my_page in site.pages %}

				{% if my_page.group == "skjemakomponenter" %}
				<li class="c-primary-nav__item">
					<a class="c-primary-nav__link {% if my_page.url == page.url %}is-active is-current{% endif %}" href="{{ my_page.url | prepend: site.baseurl }}">
                    {% if my_page.title == "skjemakomponenter" %}

                    <span class="c-primary-nav__text">Overview</span>

                    {% else %}

                    {{ my_page.title }}

                    {% endif %}
					</a>
				</li>
				{% endif %}

			{% endfor %}
			</ul>
		</li>


		<li class="c-primary-nav__item {% if page.url contains '/tekst' %}is-active{% endif %}">
			<a class="c-primary-nav__link c-primary-nav__link--has-children js-nav-dropdown-trigger {% if page.url contains '/tekst' %} is-active is-current{% endif %}" href="{{ "/komigang/" | prepend: site.baseurl }}">

				<span class="c-primary-nav__text">Tekst</span>

				<svg class="c-icon c-primary-nav__icon" aria-hidden="true">
					<use xlink:href="{{ "/icons.svg#chevron-right" | prepend: site.baseurl }}"></use>
				</svg>

			</a>

			<ul class="c-primary-nav__sublist js-nav-dropdownn {% if page.url contains '/tekst' %} is-active{% endif %}">
			{% for my_page in site.pages %}

				{% if my_page.group == "tekst" %}
				<li class="c-primary-nav__item">
					<a class="c-primary-nav__link {% if my_page.url == page.url %}is-active is-current{% endif %}" href="{{ my_page.url | prepend: site.baseurl }}">
                    {% if my_page.title == "tekst" %}

                    <span class="c-primary-nav__text">Overview</span>

                    {% else %}

                    {{ my_page.title }}

                    {% endif %}
					</a>
				</li>
				{% endif %}

			{% endfor %}
			</ul>
		</li>

		<li class="c-primary-nav__item {% if page.url contains '/lister' %}is-active{% endif %}">
			<a class="c-primary-nav__link c-primary-nav__link--has-children js-nav-dropdown-trigger {% if page.url contains '/lister' %} is-active is-current{% endif %}" href="{{ "/komigang/" | prepend: site.baseurl }}">

				<span class="c-primary-nav__text">Lister</span>

				<svg class="c-icon c-primary-nav__icon" aria-hidden="true">
					<use xlink:href="{{ "/icons.svg#chevron-right" | prepend: site.baseurl }}"></use>
				</svg>

			</a>

			<ul class="c-primary-nav__sublist js-nav-dropdownn {% if page.url contains '/lister' %} is-active{% endif %}">
			{% for my_page in site.pages %}

				{% if my_page.group == "lister" %}
				<li class="c-primary-nav__item">
					<a class="c-primary-nav__link {% if my_page.url == page.url %}is-active is-current{% endif %}" href="{{ my_page.url | prepend: site.baseurl }}">
                    {% if my_page.title == "lister" %}

                    <span class="c-primary-nav__text">Overview</span>

                    {% else %}

                    {{ my_page.title }}

                    {% endif %}
					</a>
				</li>
				{% endif %}

			{% endfor %}
			</ul>
		</li>

		<li class="c-primary-nav__item {% if page.url contains '/tabeller' %}is-active{% endif %}">
			<a class="c-primary-nav__link c-primary-nav__link--has-children js-nav-dropdown-trigger {% if page.url contains '/tabeller' %} is-active is-current{% endif %}" href="{{ "/komigang/" | prepend: site.baseurl }}">

				<span class="c-primary-nav__text">Tabeller</span>

				<svg class="c-icon c-primary-nav__icon" aria-hidden="true">
					<use xlink:href="{{ "/icons.svg#chevron-right" | prepend: site.baseurl }}"></use>
				</svg>

			</a>

			<ul class="c-primary-nav__sublist js-nav-dropdownn {% if page.url contains '/tabeller' %} is-active{% endif %}">
			{% for my_page in site.pages %}

				{% if my_page.group == "tabeller" %}
				<li class="c-primary-nav__item">
					<a class="c-primary-nav__link {% if my_page.url == page.url %}is-active is-current{% endif %}" href="{{ my_page.url | prepend: site.baseurl }}">
                    {% if my_page.title == "tabeller" %}

                    <span class="c-primary-nav__text">Overview</span>

                    {% else %}

                    {{ my_page.title }}

                    {% endif %}
					</a>
				</li>
				{% endif %}

			{% endfor %}
			</ul>
		</li>

		<li class="c-primary-nav__item {% if page.url contains '/bilder-og-media' %}is-active{% endif %}">
			<a class="c-primary-nav__link c-primary-nav__link--has-children js-nav-dropdown-trigger {% if page.url contains '/bilder-og-media' %} is-active is-current{% endif %}" href="{{ "/komigang/" | prepend: site.baseurl }}">

				<span class="c-primary-nav__text">Bilder og media</span>

				<svg class="c-icon c-primary-nav__icon" aria-hidden="true">
					<use xlink:href="{{ "/icons.svg#chevron-right" | prepend: site.baseurl }}"></use>
				</svg>

			</a>

			<ul class="c-primary-nav__sublist js-nav-dropdownn {% if page.url contains '/bilder-og-media' %} is-active{% endif %}">
			{% for my_page in site.pages %}

				{% if my_page.group == "bilder-og-media" %}
				<li class="c-primary-nav__item">
					<a class="c-primary-nav__link {% if my_page.url == page.url %}is-active is-current{% endif %}" href="{{ my_page.url | prepend: site.baseurl }}">
                    {% if my_page.title == "bilder-og-media" %}

                    <span class="c-primary-nav__text">Overview</span>

                    {% else %}

                    {{ my_page.title }}

                    {% endif %}
					</a>
				</li>
				{% endif %}

			{% endfor %}
			</ul>
		</li>

		<li class="c-primary-nav__item {% if page.url contains '/navigasjon' %}is-active{% endif %}">
			<a class="c-primary-nav__link c-primary-nav__link--has-children js-nav-dropdown-trigger {% if page.url contains '/navigasjon' %} is-active is-current{% endif %}" href="{{ "/komigang/" | prepend: site.baseurl }}">

				<span class="c-primary-nav__text">Navigasjon</span>

				<svg class="c-icon c-primary-nav__icon" aria-hidden="true">
					<use xlink:href="{{ "/icons.svg#chevron-right" | prepend: site.baseurl }}"></use>
				</svg>

			</a>

			<ul class="c-primary-nav__sublist js-nav-dropdownn {% if page.url contains '/navigasjon' %} is-active{% endif %}">
			{% for my_page in site.pages %}

				{% if my_page.group == "navigasjon" %}
				<li class="c-primary-nav__item">
					<a class="c-primary-nav__link {% if my_page.url == page.url %}is-active is-current{% endif %}" href="{{ my_page.url | prepend: site.baseurl }}">
                    {% if my_page.title == "navigasjon" %}

                    <span class="c-primary-nav__text">Overview</span>

                    {% else %}

                    {{ my_page.title }}

                    {% endif %}
					</a>
				</li>
				{% endif %}

			{% endfor %}
			</ul>
		</li>




		<li class="c-primary-nav__item">

			{% for my_page in site.pages %}
				{% if my_page.url == "/prototyper.html" %}
				<a href="{{ "/prototyper.html" | prepend: site.baseurl }}" class="c-primary-nav__link {% if page.url == '/prototyper.html' %}is-active is-current{% endif %}">
					<span class="c-primary-nav__text">Sidemaler</span>
				</a>
				{% endif %}
			{% endfor %}

		</li><!-- end c-nav__list__item -->




	</ul><!-- end c-nav__list -->

</nav><!-- end c-nav -->
