<nav class="c-primary-nav" role="navigation">

	<ul class="c-primary-nav__list c-primary-nav__list--flush js-nav-panel" role="tablist" aria-multiselectable="true">


		<li class="c-primary-nav__item">

			{% for my_page in site.pages %}
				{% if my_page.url == "/eksempel-altinnett.html" %}
				<a href="{{ "/eksempel-altinnett.html" | prepend: site.baseurl }}" class="c-primary-nav__link {% if page.url == '/eksempel-altinnett.html' %}is-active is-current{% endif %}">
					<span class="c-primary-nav__text">Eksemepelside altinnett</span>
				</a>
				{% endif %}
			{% endfor %}

		</li><!-- end c-nav__list__item -->

		<li class="c-primary-nav__item {% if page.url contains '/altinnett-components' %}is-active{% endif %}">
			<a class="c-primary-nav__link c-primary-nav__link--has-children js-nav-dropdown-trigger {% if page.url contains '/altinnett-components' %} is-active  is-current{% endif %}" href="{{ "/altinnett-components/" | prepend: site.baseurl }}">

				<span class="c-primary-nav__text">Komponenter Altinnett</span>

				<svg class="c-icon c-primary-nav__icon" aria-hidden="true">
					<use xlink:href="{{ "/icons.svg#chevron-right" | prepend: site.baseurl }}"></use>
				</svg>

			</a><!--end c-primary-nav__link-->

			<ul class="c-primary-nav__sublist js-nav-dropdown {% assign post_index = '0' %}{% for my_page in site.pages %}{% if my_page.group == 'altinnett-components' %}{% capture post_index %}{{ post_index | plus: '1' }}{% endcapture %}{% endif %}{% endfor %}{% if page.url contains '/altinnett-components' %} is-active{% endif %}">

				{% include primary-nav-item.html label='Lenker og knapper' subgroup='altinnett-lenker-og-knapper' %}


			</ul>

		</li>


	</ul><!-- end c-nav__list -->

</nav><!-- end c-nav -->
