<nav class="c-primary-nav" role="navigation">

	<ul class="c-primary-nav__list c-primary-nav__list--flush js-nav-panel" role="tablist" aria-multiselectable="true">

		<li class="c-primary-nav__item {% if page.url contains '/komigang' %}is-active{% endif %}">
			<a class="c-primary-nav__link c-primary-nav__link--has-children js-nav-dropdown-trigger {% if page.url contains '/komigang' %} is-active is-current{% endif %}" href="{{ "/komigang/" | prepend: site.baseurl }}">

				<span class="c-primary-nav__text">Kom i gang</span>

				<svg class="c-icon c-primary-nav__icon" aria-hidden="true">
					<use href="{{ "/icons.svg#chevron-right" | prepend: site.baseurl }}"></use>
				</svg>

			</a>

			<ul class="c-primary-nav__sublist js-nav-dropdownn {% if page.url contains '/komigang' %} is-active{% endif %}">
			{% for my_page in site.pages %}

				{% if my_page.group == "komigang" %}
				<li class="c-primary-nav__item">
					<a class="c-primary-nav__link {% if my_page.url == page.url %}is-active is-current{% endif %}" href="{{ my_page.url | prepend: site.baseurl }}">
                    {% if my_page.title == "komigang" %}

                    <span class="c-primary-nav__text">Overview</span>

                    {% else %}

                    {{ my_page.title }}

                    {% endif %}
					</a>
				</li>
				{% endif %}

			{% endfor %}
			</ul>
		</li>

		<li class="c-primary-nav__item {% if page.url contains '/guidelines' %}is-active{% endif %}">
			<a class="c-primary-nav__link c-primary-nav__link--has-children js-nav-dropdown-trigger {% if page.url contains '/guidelines' %} is-active is-current{% endif %}" href="{{ "/guidelines/" | prepend: site.baseurl }}">

				<span class="c-primary-nav__text">Retningslinjer</span>

				<svg class="c-icon c-primary-nav__icon" aria-hidden="true">
					<use href="{{ "/icons.svg#chevron-right" | prepend: site.baseurl }}"></use>
				</svg>

			</a>

			<ul class="c-primary-nav__sublist js-nav-dropdownn {% if page.url contains '/guidelines' %} is-active{% endif %}">
			{% for my_page in site.pages %}

				{% if my_page.group == "guidelines" %}
				<li class="c-primary-nav__item">
					<a class="c-primary-nav__link {% if my_page.url == page.url %}is-active is-current{% endif %}" href="{{ my_page.url | prepend: site.baseurl }}">
                    {% if my_page.title == "Guidelines" %}

                    <span class="c-primary-nav__text">Overview</span>

                    {% else %}

                    {{ my_page.title }}

                    {% endif %}
					</a>
				</li>
				{% endif %}

			{% endfor %}
			</ul>
		</li>


		<li class="c-primary-nav__item {% if page.url contains '/styles' %}is-active{% endif %}">

			<a href="{{ "/styles/index.html" | prepend: site.baseurl }}" class="c-primary-nav__link c-primary-nav__link--has-children js-nav-dropdown-trigger {% if page.url contains '/styles' %} is-active  is-current{% endif %}">

				<span class="c-primary-nav__span">Stilguide</span>

				<svg class="c-icon c-primary-nav__icon" aria-hidden="true">
					<use href="{{ "/icons.svg#chevron-right" | prepend: site.baseurl }}"></use>
				</svg>

			</a>

			<ul class="c-primary-nav__sublist js-nav-dropdown {% if page.url contains '/styles' %} is-active{% endif %}">
			{% for my_page in site.pages %}
				{% if my_page.title %}
					{% if my_page.group == "styles" %}
					<li class="c-primary-nav__item">
						<a class="c-primary-nav__link {% if my_page.url == page.url %}is-active is-current{% endif %}" href="{{ my_page.url | prepend: site.baseurl }}">
                        {% if my_page.layout == "landing" %}

                        <span class="c-primary-nav__text">Overview</span>

                        {% else %}

                        {{ my_page.title }}

                        {% endif %}
						</a>
					</li>
					{% endif %}
				{% endif %}
			{% endfor %}
			</ul>

		</li><!-- end c-nav__list__item -->

		<li class="c-primary-nav__item {% if page.url contains '/components' %}is-active{% endif %}">
			<a class="c-primary-nav__link c-primary-nav__link--has-children js-nav-dropdown-trigger {% if page.url contains '/components' %} is-active  is-current{% endif %}" href="{{ "/components/" | prepend: site.baseurl }}">

				<span class="c-primary-nav__text">Komponenter</span>

				<svg class="c-icon c-primary-nav__icon" aria-hidden="true">
					<use href="{{ "/icons.svg#chevron-right" | prepend: site.baseurl }}"></use>
				</svg>

			</a><!--end c-primary-nav__link-->

			<ul class="c-primary-nav__sublist js-nav-dropdown {% assign post_index = '0' %}{% for my_page in site.pages %}{% if my_page.group == 'components' %}{% capture post_index %}{{ post_index | plus: '1' }}{% endcapture %}{% endif %}{% endfor %}{% if page.url contains '/components' %} is-active{% endif %}">

				{% include primary-nav-item.html label='Lenker og knapper' subgroup='lenker-og-knapper' %}

				{% include primary-nav-item.html label='Skjemakomponenter' subgroup='skjemakomponenter' %}

				{% include primary-nav-item.html label='Tekst' subgroup='tekst' %}

				{% include primary-nav-item.html label='Lister' subgroup='lister' %}

				{% include primary-nav-item.html label='Tabeller' subgroup='tabeller' %}

				{% include primary-nav-item.html label='Bilder og media' subgroup='bilder-og-media' %}

				{% include primary-nav-item.html label='Navigasjon' subgroup='navigasjon' %}

				{% include primary-nav-item.html label='Kort og blokker' subgroup='kort-og-blokker' %}

				{% include primary-nav-item.html label='Modaler' subgroup='modaler' %}


			</ul>

		</li>



		<li class="c-primary-nav__item">

			{% for my_page in site.pages %}
				{% if my_page.url == "/sidemaler.html" %}
				<a href="{{ "/sidemaler.html" | prepend: site.baseurl }}" class="c-primary-nav__link {% if page.url == '/sidemaler.html' %}is-active is-current{% endif %}">
					<span class="c-primary-nav__text">Sidemaler</span>
				</a>
				{% endif %}
			{% endfor %}

		</li><!-- end c-nav__list__item -->

	


	</ul><!-- end c-nav__list -->

</nav><!-- end c-nav -->
