<nav class="c-primary-nav" role="navigation">

	<ul class="c-primary-nav__list c-primary-nav__list--flush js-nav-panel" role="tablist" aria-multiselectable="true">


		<li class="c-primary-nav__item">

			{% for my_page in site.pages %}
				{% if my_page.url == "/eksempel-altinnett.html" %}
				<a href="{{ "/eksempel-altinnett.html" | prepend: site.baseurl }}" class="c-primary-nav__link {% if page.url == '/eksempel-altinnett.html' %}is-active is-current{% endif %}">
					<span class="c-primary-nav__text">Eksemepelside altinnett</span>
				</a>
				{% endif %}
			{% endfor %}

		</li><!-- end c-nav__list__item -->


	</ul><!-- end c-nav__list -->

</nav><!-- end c-nav -->
