
<div class="a-modal-top">
  <a href="&#x2F;patterns&#x2F;04-sider-infoportal-01-forside-00-forside&#x2F;04-sider-infoportal-01-forside-00-forside.html" class="no-decoration">
    
    <img src="/designsystem-styleguide/images/a-logo-black.svg" alt="Altinn logo" class="a-logo a-modal-top-logo ">
    
  </a>
  <div class="a-modal-top-user">
    
    <div class="a-personSwitcher ">
      <span class="a-personSwitcher-name">
    <span class="d-block">Kari Nordmann</span>
      <span class="d-block"></span>
      </span>
      
      <i class="ai ai-private-circle-big  a-personSwitcher-icon "></i>
      
    </div>
    
  </div>
</div>
