
<form data-toggle="validator" role="form" action="" class="">
  <div class="a-modal-contentFullWidth mt-2">
    
    <fieldset class="form-group ">
      <legend class="a-legend">Velg en kategori
      </legend>
      <div class="form-check a-radioButtons  a-radioButtons-stackedList a-radioButtons-searchResult">
        <label class="custom-control custom-radio">
				<input type="radio"
          name="radioish"
          class="custom-control-input"
           id="%ID%" 
          value="%ID%"
          required />
				<span class="custom-control-indicator"></span>
				<span class="a-radioButtons-title">
					%PATH% <span style='color: #000'>%NAME%</span>
				</span>
					<span class="a-radioButtons-excerpt a-maxThreeLines">
						%DESCRIPTION%
					</span>
			</label>
        <label class="custom-control custom-radio">
				<input type="radio"
          name="radioish"
          class="custom-control-input"
           id="radio32" 
          value="radio32"
          required />
				<span class="custom-control-indicator"></span>
				<span class="a-radioButtons-title">
					Enda en radioknapp som inneholder mye tekst
				</span>
			</label>
      </div>
      <!--</div>-->
    </fieldset>
    
  </div>
  <div class="a-btn-group mt-2">
    
    <button type="submit" class="a-btn ">
  
    Velg denne radioknappen
  
</button>
    
    
    <a href="/patterns/04-sider-infoportal-01-forside-00-forside/04-sider-infoportal-01-forside-00-forside.html" class=" ">
  Finn næringskode selv
  
</a>
    
  </div>
</form>
