
<div class="a-modal fade modal show " tabindex="-1" role="dialog" style="display: block">
  <div class="modal-dialog modal-lg" role="document">
    <div class="container a-p-static">
      <div class="row">
        <div class="col-xl-12">
          
          <div class="a-modal-top">
            <a href="&#x2F;patterns&#x2F;04-sider-infoportal-01-forside-00-forside&#x2F;04-sider-infoportal-01-forside-00-forside.html" class="no-decoration">
              
              <img src="..&#x2F;..&#x2F;images&#x2F;a-logo-black.svg" alt="Altinn logo" class="a-logo a-modal-top-logo ">
              
            </a>
            <div class="a-modal-top-user">
              
              <div class="a-personSwitcher ">
                <span class="a-personSwitcher-name">
    <span class="d-block">JAN PETTERSEN</span>
                <span class="d-block"></span>
                </span>
                
                <i class="ai ai-private-circle-big  a-personSwitcher-icon "></i>
                
              </div>
              
            </div>
          </div>
          
        </div>
      </div>
      <div class="row">
        <div class="col-xl-10 offset-xl-1 a-p-static">
          
          <div class="a-modal-navbar">
            
            <button type="button" class="a-modal-back a-js-tabable-popover" onclick="handleModalClose(this, &#39;&#x2F;patterns&#x2F;04-sider-portal-91-klientdelegering-00-klientdelegering-gi-rettigheter-til-ansatte&#x2F;04-sider-portal-91-klientdelegering-00-klientdelegering-gi-rettigheter-til-ansatte.html&#39;);"
              aria-label="Tilbake" data-toggle="popover" data-placement="bottom" data-animation="false" data-popover-content="backPopoverContent" data-popover-class="popover-warning">
  
  <span class="ai-stack">
    <i class="ai ai-stack-1x ai-plain-circle-big"></i>
<i class="ai-stack-1x ai ai-back   "    ></i>
  </span>
</button>
            <div id="backPopoverContent" class="hidden-xs-up">
              <div class="pb-1">Du har gjort endringer som ikke vil lagres</div>
              
              <button type="button" onclick="$('button[aria-describedby=' + $(this).parent().parent().attr('id') + ']').click(); location.href='/patterns/04-sider-portal-91-klientdelegering-00-klientdelegering-gi-rettigheter-til-ansatte/04-sider-portal-91-klientdelegering-00-klientdelegering-gi-rettigheter-til-ansatte.html'"
                class="a-btn a-btn-danger mr-1">
  
    Ok
  
</button>
              
              
              <button type="button" onclick="$('button[aria-describedby=' + $(this).parent().parent().attr('id') + ']').click();" class="a-btn-link a-linkDanger mr-1">
  <span>
    Avbryt
  </span>
</button>
              
            </div>
            
            
            <button type="button" class="a-modal-close a-js-tabable-popover" onclick="handleModalClose(this, &#39;&#x2F;patterns&#x2F;04-sider-portal-60-profil-roller-rettigheter-profil-roller-rettigheter&#x2F;04-sider-portal-60-profil-roller-rettigheter-profil-roller-rettigheter.html&#39;);"
              aria-label="Lukk" data-toggle="popover" data-placement="bottom" data-animation="false" data-popover-content="closePopoverContent" data-popover-class="popover-warning">
  
  <span class="ai-stack">
    <i class="ai ai-stack-1x ai-plain-circle-big"></i>
<i class="ai-stack-1x ai ai-exit  a-modal-close-icon "    ></i>
  </span>
</button>
            <div id="closePopoverContent" class="hidden-xs-up">
              <div class="pb-1">Du har gjort endringer som ikke vil lagres</div>
              
              <button type="button" onclick="$('button[aria-describedby=' + $(this).parent().parent().attr('id') + ']').click(); location.href='/patterns/04-sider-portal-60-profil-roller-rettigheter-profil-roller-rettigheter/04-sider-portal-60-profil-roller-rettigheter-profil-roller-rettigheter.html'"
                class="a-btn a-btn-danger mr-1">
  
    Ok
  
</button>
              
              
              <button type="button" onclick="$('button[aria-describedby=' + $(this).parent().parent().attr('id') + ']').click();" class="a-btn-link a-linkDanger mr-1">
  <span>
    Avbryt
  </span>
</button>
              
            </div>
            
          </div>
          
          <div class="a-modal-content-target">
            <div class="a-page a-current-page">
              <div class="modalPage">
                <div class="modal-content">
                  
                  <div class="modal-header a-modal-header">
                    
                    <div class="a-iconText a-iconText-background a-iconText-large ">
                      <div class="a-iconText-icon ">
                        
                        <i class="ai ai-server  a-icon "></i>
                        
                      </div>
                      <h1 class="a-iconText-text mb-0">
                        <span class="a-iconText-text-large">Gi og fjerne rettigheter  </span>
                      </h1>
                    </div>
                    
                  </div>
                  
                  
                  
                  <div class="modal-body a-modal-body">
                    <div class="row">
                      <div class="col-12 col-md-8">
                        
                        <div class="a-personRole ">
                          <div class="hidden-sm-down">
                            
                            <i class="ai ai-private  ai-lg "></i>
                            
                          </div>
                          <div class="a-personRole-text">
                            <span class="a-personRole-role">Klient</span>
                            <span class="a-personRole-name">Ferskfisk & Saltkjøtt AS</span>
                          </div>
                        </div>
                        
                      </div>
                      <div class="col-12 col-md pt-1">
                        
                        
                        <button type="button" onclick="location.href='/patterns/04-sider-portal-91-klientdelegering-00-klientdelegering-gi-rettigheter-til-ansatte/04-sider-portal-91-klientdelegering-00-klientdelegering-gi-rettigheter-til-ansatte.html'" class="a-btn-link a-linkDanger float-left float-md-right a-link-modalTop">
  <span>
    Avbryt
  </span>
</button>
                        
                        
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 col-md-12 col-lg-6 mt-4 mb-1">
                        
                        <div class="form-group a-form-group  ">
                          <label class="a-form-label  sr-only  " for="text-input-generic">Finn ansatt</label>
                          <div class="a-form-group-items input-group   ">
                            <span class="input-group-addon hidden-sm-down">
<i class="ai ai-others   "    ></i>
</span>
                            <input class="form-control   a-hasIcon 
         " type="search" placeholder="Søk etter ansatt" name="input-field" data-val="true" id="text-input-generic" data-search-algorithm="show-and-highlight" data-search-target="employee-table">
                          </div>
                        </div>
                        
                      </div>
                    </div>
                    <div role="tablist">
                      <div role="tab">
                        <div class="mt-1 mb-1">
                          
                          <div class="a-collapse">
                            <div class="">
                              <div class="row">
                                <div class="col">
                                  <h2 class="a-collapseHeader a-h3">
                                    <a data-toggle="collapse" href="#" data-target="#exp-tab-table-existing-employee" aria-expanded="true" aria-controls="exp-tab-table-existing-employee" class="a-collapse-title a-collapse-title--absolute no-decoration ">
                <span class="a-dropdownArrow"></span> <span>Disse <span class='badge badge-primary a-label badge-pill'>10</span> ansatte har rettigheter:</span> <span class="a-js-none"></span>
            </a>
                                  </h2>
                                </div>
                              </div>
                            </div>
                          </div>
                          
                        </div>
                        <div class="a-full-width">
                          <div id="exp-tab-table-existing-employee" class="a-collapseContent collapse show" role="tabpanel" aria-expanded="true">
                            
                            <div class="a-list-container ">
                              <div class="a-list-header a-bgGreyLight">
                                <div class="row">
                                  <div class="a-w-7 hidden-sm-down">
                                    
                                    
                                  </div>
                                  <div class="col-6 col-sm-7 col-md-4 col-lg-6 a-list-sortHeader hidden-xs-down a-clickable" tabindex="0" role="button">
                                    
                                    <span class="a-dropdownArrow"> 
    
     </span>
                                    <span class="sr-only"> 
    sorter listen på
     </span> NAVN
                                    
                                  </div>
                                  <div class="col text-right pr-0 pr-md-2 a-js-add-remove-all a-clickable" tabindex="0">
                                    
                                    <span class="a-fontBold"> 
    Fjern alle klienter
     </span>
                                    
                                    <i class="ai ai-circle-exit  a-danger "></i>
                                    
                                    
                                  </div>
                                </div>
                              </div>
                              <ul class="a-list  a-list-large   a-bgGreyLight a-full-height " id="employee-table" data-list-selectable="true">
                                <li class="a-selectable a-danger" tabindex="0">
                                  <div class="row ">
                                    <div class="a-w-7 text-center hidden-sm-down">
                                      
                                      
                                      <i class="ai ai-client   "></i>
                                      
                                      
                                    </div>
                                    <div class="col-11 col-sm-9 col-md-8 col-lg-9" data-searchable="true">
                                      
                                      <span class="a-fontBold a-js-sortValue a-lineThrough-selected"> 
    Andreas Amundsen
     </span>
                                      
                                    </div>
                                    <div class="col text-right pr-0 pr-md-2">
                                      
                                      <span class="a-fontBold hidden-xs-down a-hiddenWhenSelected a-hiddenWhenDeleted"> 
    Fjern
     </span>
                                      
                                      <i class="ai ai-circle-exit  a-danger a-hiddenWhenSelected a-hiddenWhenDeleted "></i>
                                      
                                      <span class="a-fontBold hidden-xs-down a-visibleWhenSelected a-hiddenWhenDeleted"> 
    Angre
     </span>
                                      
                                      <i class="ai ai-undo  a-danger a-visibleWhenSelected a-hiddenWhenDeleted "></i>
                                      
                                      <span class="a-fontBold hidden-xs-down a-visibleWhenDeleted"> 
    Slettet
     </span>
                                      
                                      <i class="ai   a-danger a-visibleWhenDeleted "></i>
                                      
                                      
                                    </div>
                                  </div>
                                </li>
                                <li class="a-selectable a-danger" tabindex="0">
                                  <div class="row ">
                                    <div class="a-w-7 text-center hidden-sm-down">
                                      
                                      
                                      <i class="ai ai-client   "></i>
                                      
                                      
                                    </div>
                                    <div class="col-11 col-sm-9 col-md-8 col-lg-9" data-searchable="true">
                                      
                                      <span class="a-fontBold a-js-sortValue a-lineThrough-selected"> 
    André Geitan
     </span>
                                      
                                    </div>
                                    <div class="col text-right pr-0 pr-md-2">
                                      
                                      <span class="a-fontBold hidden-xs-down a-hiddenWhenSelected a-hiddenWhenDeleted"> 
    Fjern
     </span>
                                      
                                      <i class="ai ai-circle-exit  a-danger a-hiddenWhenSelected a-hiddenWhenDeleted "></i>
                                      
                                      <span class="a-fontBold hidden-xs-down a-visibleWhenSelected a-hiddenWhenDeleted"> 
    Angre
     </span>
                                      
                                      <i class="ai ai-undo  a-danger a-visibleWhenSelected a-hiddenWhenDeleted "></i>
                                      
                                      <span class="a-fontBold hidden-xs-down a-visibleWhenDeleted"> 
    Slettet
     </span>
                                      
                                      <i class="ai   a-danger a-visibleWhenDeleted "></i>
                                      
                                      
                                    </div>
                                  </div>
                                </li>
                                <li class="a-selectable a-danger" tabindex="0">
                                  <div class="row ">
                                    <div class="a-w-7 text-center hidden-sm-down">
                                      
                                      
                                      <i class="ai ai-client   "></i>
                                      
                                      
                                    </div>
                                    <div class="col-11 col-sm-9 col-md-8 col-lg-9" data-searchable="true">
                                      
                                      <span class="a-fontBold a-js-sortValue a-lineThrough-selected"> 
    Daniel Fargeheim
     </span>
                                      
                                    </div>
                                    <div class="col text-right pr-0 pr-md-2">
                                      
                                      <span class="a-fontBold hidden-xs-down a-hiddenWhenSelected a-hiddenWhenDeleted"> 
    Fjern
     </span>
                                      
                                      <i class="ai ai-circle-exit  a-danger a-hiddenWhenSelected a-hiddenWhenDeleted "></i>
                                      
                                      <span class="a-fontBold hidden-xs-down a-visibleWhenSelected a-hiddenWhenDeleted"> 
    Angre
     </span>
                                      
                                      <i class="ai ai-undo  a-danger a-visibleWhenSelected a-hiddenWhenDeleted "></i>
                                      
                                      <span class="a-fontBold hidden-xs-down a-visibleWhenDeleted"> 
    Slettet
     </span>
                                      
                                      <i class="ai   a-danger a-visibleWhenDeleted "></i>
                                      
                                      
                                    </div>
                                  </div>
                                </li>
                                <li class="a-selectable a-danger" tabindex="0">
                                  <div class="row ">
                                    <div class="a-w-7 text-center hidden-sm-down">
                                      
                                      
                                      <i class="ai ai-client   "></i>
                                      
                                      
                                    </div>
                                    <div class="col-11 col-sm-9 col-md-8 col-lg-9" data-searchable="true">
                                      
                                      <span class="a-fontBold a-js-sortValue a-lineThrough-selected"> 
    Doris Kahn
     </span>
                                      
                                    </div>
                                    <div class="col text-right pr-0 pr-md-2">
                                      
                                      <span class="a-fontBold hidden-xs-down a-hiddenWhenSelected a-hiddenWhenDeleted"> 
    Fjern
     </span>
                                      
                                      <i class="ai ai-circle-exit  a-danger a-hiddenWhenSelected a-hiddenWhenDeleted "></i>
                                      
                                      <span class="a-fontBold hidden-xs-down a-visibleWhenSelected a-hiddenWhenDeleted"> 
    Angre
     </span>
                                      
                                      <i class="ai ai-undo  a-danger a-visibleWhenSelected a-hiddenWhenDeleted "></i>
                                      
                                      <span class="a-fontBold hidden-xs-down a-visibleWhenDeleted"> 
    Slettet
     </span>
                                      
                                      <i class="ai   a-danger a-visibleWhenDeleted "></i>
                                      
                                      
                                    </div>
                                  </div>
                                </li>
                                <li class="a-selectable a-danger" tabindex="0">
                                  <div class="row ">
                                    <div class="a-w-7 text-center hidden-sm-down">
                                      
                                      
                                      <i class="ai ai-client   "></i>
                                      
                                      
                                    </div>
                                    <div class="col-11 col-sm-9 col-md-8 col-lg-9" data-searchable="true">
                                      
                                      <span class="a-fontBold a-js-sortValue a-lineThrough-selected"> 
    Eivind Nilsen
     </span>
                                      
                                    </div>
                                    <div class="col text-right pr-0 pr-md-2">
                                      
                                      <span class="a-fontBold hidden-xs-down a-hiddenWhenSelected a-hiddenWhenDeleted"> 
    Fjern
     </span>
                                      
                                      <i class="ai ai-circle-exit  a-danger a-hiddenWhenSelected a-hiddenWhenDeleted "></i>
                                      
                                      <span class="a-fontBold hidden-xs-down a-visibleWhenSelected a-hiddenWhenDeleted"> 
    Angre
     </span>
                                      
                                      <i class="ai ai-undo  a-danger a-visibleWhenSelected a-hiddenWhenDeleted "></i>
                                      
                                      <span class="a-fontBold hidden-xs-down a-visibleWhenDeleted"> 
    Slettet
     </span>
                                      
                                      <i class="ai   a-danger a-visibleWhenDeleted "></i>
                                      
                                      
                                    </div>
                                  </div>
                                </li>
                                <li class="a-selectable a-danger" tabindex="0">
                                  <div class="row ">
                                    <div class="a-w-7 text-center hidden-sm-down">
                                      
                                      
                                      <i class="ai ai-client   "></i>
                                      
                                      
                                    </div>
                                    <div class="col-11 col-sm-9 col-md-8 col-lg-9" data-searchable="true">
                                      
                                      <span class="a-fontBold a-js-sortValue a-lineThrough-selected"> 
    Filip Schau
     </span>
                                      
                                    </div>
                                    <div class="col text-right pr-0 pr-md-2">
                                      
                                      <span class="a-fontBold hidden-xs-down a-hiddenWhenSelected a-hiddenWhenDeleted"> 
    Fjern
     </span>
                                      
                                      <i class="ai ai-circle-exit  a-danger a-hiddenWhenSelected a-hiddenWhenDeleted "></i>
                                      
                                      <span class="a-fontBold hidden-xs-down a-visibleWhenSelected a-hiddenWhenDeleted"> 
    Angre
     </span>
                                      
                                      <i class="ai ai-undo  a-danger a-visibleWhenSelected a-hiddenWhenDeleted "></i>
                                      
                                      <span class="a-fontBold hidden-xs-down a-visibleWhenDeleted"> 
    Slettet
     </span>
                                      
                                      <i class="ai   a-danger a-visibleWhenDeleted "></i>
                                      
                                      
                                    </div>
                                  </div>
                                </li>
                                <li class="a-selectable a-danger" tabindex="0">
                                  <div class="row ">
                                    <div class="a-w-7 text-center hidden-sm-down">
                                      
                                      
                                      <i class="ai ai-client   "></i>
                                      
                                      
                                    </div>
                                    <div class="col-11 col-sm-9 col-md-8 col-lg-9" data-searchable="true">
                                      
                                      <span class="a-fontBold a-js-sortValue a-lineThrough-selected"> 
    Finn Skapen
     </span>
                                      
                                    </div>
                                    <div class="col text-right pr-0 pr-md-2">
                                      
                                      <span class="a-fontBold hidden-xs-down a-hiddenWhenSelected a-hiddenWhenDeleted"> 
    Fjern
     </span>
                                      
                                      <i class="ai ai-circle-exit  a-danger a-hiddenWhenSelected a-hiddenWhenDeleted "></i>
                                      
                                      <span class="a-fontBold hidden-xs-down a-visibleWhenSelected a-hiddenWhenDeleted"> 
    Angre
     </span>
                                      
                                      <i class="ai ai-undo  a-danger a-visibleWhenSelected a-hiddenWhenDeleted "></i>
                                      
                                      <span class="a-fontBold hidden-xs-down a-visibleWhenDeleted"> 
    Slettet
     </span>
                                      
                                      <i class="ai   a-danger a-visibleWhenDeleted "></i>
                                      
                                      
                                    </div>
                                  </div>
                                </li>
                                <li class="a-selectable a-danger" tabindex="0">
                                  <div class="row ">
                                    <div class="a-w-7 text-center hidden-sm-down">
                                      
                                      
                                      <i class="ai ai-client   "></i>
                                      
                                      
                                    </div>
                                    <div class="col-11 col-sm-9 col-md-8 col-lg-9" data-searchable="true">
                                      
                                      <span class="a-fontBold a-js-sortValue a-lineThrough-selected"> 
    Kalle Moe
     </span>
                                      
                                    </div>
                                    <div class="col text-right pr-0 pr-md-2">
                                      
                                      <span class="a-fontBold hidden-xs-down a-hiddenWhenSelected a-hiddenWhenDeleted"> 
    Fjern
     </span>
                                      
                                      <i class="ai ai-circle-exit  a-danger a-hiddenWhenSelected a-hiddenWhenDeleted "></i>
                                      
                                      <span class="a-fontBold hidden-xs-down a-visibleWhenSelected a-hiddenWhenDeleted"> 
    Angre
     </span>
                                      
                                      <i class="ai ai-undo  a-danger a-visibleWhenSelected a-hiddenWhenDeleted "></i>
                                      
                                      <span class="a-fontBold hidden-xs-down a-visibleWhenDeleted"> 
    Slettet
     </span>
                                      
                                      <i class="ai   a-danger a-visibleWhenDeleted "></i>
                                      
                                      
                                    </div>
                                  </div>
                                </li>
                                <li class="a-selectable a-danger" tabindex="0">
                                  <div class="row ">
                                    <div class="a-w-7 text-center hidden-sm-down">
                                      
                                      
                                      <i class="ai ai-client   "></i>
                                      
                                      
                                    </div>
                                    <div class="col-11 col-sm-9 col-md-8 col-lg-9" data-searchable="true">
                                      
                                      <span class="a-fontBold a-js-sortValue a-lineThrough-selected"> 
    Phil Dunderson
     </span>
                                      
                                    </div>
                                    <div class="col text-right pr-0 pr-md-2">
                                      
                                      <span class="a-fontBold hidden-xs-down a-hiddenWhenSelected a-hiddenWhenDeleted"> 
    Fjern
     </span>
                                      
                                      <i class="ai ai-circle-exit  a-danger a-hiddenWhenSelected a-hiddenWhenDeleted "></i>
                                      
                                      <span class="a-fontBold hidden-xs-down a-visibleWhenSelected a-hiddenWhenDeleted"> 
    Angre
     </span>
                                      
                                      <i class="ai ai-undo  a-danger a-visibleWhenSelected a-hiddenWhenDeleted "></i>
                                      
                                      <span class="a-fontBold hidden-xs-down a-visibleWhenDeleted"> 
    Slettet
     </span>
                                      
                                      <i class="ai   a-danger a-visibleWhenDeleted "></i>
                                      
                                      
                                    </div>
                                  </div>
                                </li>
                                <li class="a-selectable a-danger" tabindex="0">
                                  <div class="row ">
                                    <div class="a-w-7 text-center hidden-sm-down">
                                      
                                      
                                      <i class="ai ai-client   "></i>
                                      
                                      
                                    </div>
                                    <div class="col-11 col-sm-9 col-md-8 col-lg-9" data-searchable="true">
                                      
                                      <span class="a-fontBold a-js-sortValue a-lineThrough-selected"> 
    Ståle Stavanger
     </span>
                                      
                                    </div>
                                    <div class="col text-right pr-0 pr-md-2">
                                      
                                      <span class="a-fontBold hidden-xs-down a-hiddenWhenSelected a-hiddenWhenDeleted"> 
    Fjern
     </span>
                                      
                                      <i class="ai ai-circle-exit  a-danger a-hiddenWhenSelected a-hiddenWhenDeleted "></i>
                                      
                                      <span class="a-fontBold hidden-xs-down a-visibleWhenSelected a-hiddenWhenDeleted"> 
    Angre
     </span>
                                      
                                      <i class="ai ai-undo  a-danger a-visibleWhenSelected a-hiddenWhenDeleted "></i>
                                      
                                      <span class="a-fontBold hidden-xs-down a-visibleWhenDeleted"> 
    Slettet
     </span>
                                      
                                      <i class="ai   a-danger a-visibleWhenDeleted "></i>
                                      
                                      
                                    </div>
                                  </div>
                                </li>
                                <li class="a-clickable a-fontSizeM a-fontBold a-list-item-loadMore a-bgWhite" tabindex="0" role="button">
                                  <div class="row ">
                                    <div class="a-w-7 text-center hidden-sm-down">
                                      
                                      
                                      <i class="ai ai-plus   "></i>
                                      
                                      
                                    </div>
                                    <div class="col">
                                      
                                      
                                      <i class="ai ai-plus  hidden-md-up "></i>
                                      
                                      Last flere
                                      
                                    </div>
                                  </div>
                                </li>
                              </ul>
                            </div>
                            
                          </div>
                        </div>
                        
                        <div class="segment-done">
                          <div class="modal-table-segment-box"></div>
                          <div class="modal-table-segment segment-fixed">
                            <div class="container">
                              <div class="float-right mt-2">
                                <span class="mr-3">
            
<button
   type="button" 
   onclick="if (onConfirmDeletionClick()) { location.href='/patterns/04-sider-portal-91-klientdelegering-00-klientdelegering-kvittering-gyldig/04-sider-portal-91-klientdelegering-00-klientdelegering-kvittering-gyldig.html' }" 
  class="a-btn a-btn-success a-js-enableWhenValid"
  id="confirm-deletion"
  
  data-toggle="collapse"
  
  
  
  data-target="#eksempelID2"
  
   
  >
  
    Ferdig
  
</button>
          </span>
                                <span class="mr-3">
            
<button
   type="button" 
  
  class="a-btn-link a-js-cancel-deletion "
  id="cancel-deletion"
  
  data-toggle="collapse"
  
  
  
  data-target="#eksempelID2"
  
   
  >
  <span>
    Avbryt
  </span>
                                </button>
                                
                                
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                  
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- DO NOT INCLUDE IN IMPLEMENTATION, ADDED BY BOOTSTRAP WHEN MODAL IS TRIGGERED -->
<div class="modal-backdrop fade show"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- Should be included for pages that has quickhelp -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - -->
<div class="a-stickyHelp-container">
  <!-- Open-button for .a-iframeToggle -->
  <!-- HELP ANIMATION:
  On pages that have help in context (step for step guide), add class "a-stickyHelp-animationHint" when users has not been active for 10 seconds -->
  <button type="button" class="a-btn a-stickyHelp-open  collapsed" data-toggle="collapse" data-target="#a-iframeToggle" aria-expanded="false" aria-controls="a-iframeToggle">
    <span class="sr-only a-stickyHelp-openText">Trenger du hjelp</span>
    <i>?</i>
  </button>
  <div id="a-iframeToggle" class="a-iframeToggle collapse">
    <!-- Close-button for .a-iframeToggle -->
    <button type="button" class="a-stickyHelp-close" data-toggle="collapse" data-target="#a-iframeToggle" data-action="close" aria-expanded="true" aria-controls="a-iframeToggle"> 
<i class="ai ai-exit ai-sm   "   id="close-stickyHelp"   ></i>
  <span class="sr-only">Minimer hjelpevinduet</span>
 </button>
    <iframe class="a-js-stickyHelpFrame" data-src="../../&#x2F;patterns&#x2F;04-sider-infoportal-70-hurtighjelp-60-hurtighjelp&#x2F;04-sider-infoportal-70-hurtighjelp-60-hurtighjelp.html"></iframe>
  </div>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- End quickhelp -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - -->
