
<div class="row mb-1">
  <div class="col">
    <h3>
      Lorem ipsum
    </h3>
  </div>
</div>
<div class="row">
  <div class="col">
    
    <div class="form-check a-form-checkboxes    ">
      <label class="custom-control custom-checkbox">
            <input type="checkbox"  class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="ml-1">Lorem ipsom dolor</span>
          </label>
    </div>
    
  </div>
</div>
<div class="row">
  <div class="col">
    
    <div class="form-check a-form-checkboxes    ">
      <label class="custom-control custom-checkbox">
            <input type="checkbox"  class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="ml-1">Lorem ipsom dolor</span>
          </label>
    </div>
    
  </div>
</div>
<div class="row">
  <div class="col">
    
    <div class="form-check a-form-checkboxes    ">
      <label class="custom-control custom-checkbox">
            <input type="checkbox"  class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="ml-1">Lorem ipsom dolor</span>
          </label>
    </div>
    
  </div>
</div>
<div class="row">
  <div class="col">
    
    <button type="button" class="a-btn a-btn-success mt-2">
  
    En standard knapp
  
</button>
    
  </div>
</div>
