---
layout: default
---

{% include breadcrumbs.html %}

<div class="l-container">
	<ul>

		{% for componentPage in site.pages %}
    		{% if componentPage.group == page.group %}
        		{% if componentPage.subgroup == page.subgroup %}
            		{% if componentPage.layout != "component-category" and componentPage.layout != "component-category2" and componentPage.status != "Planned" %}

					<li>

			    		<section class="c-section u-margin-bottom-none">

			    			<div class="c-section__body">

			    				<div class="c-pattern-example">

			                        <ul class="c-lined-list">

			                        	{% for variation in componentPage.variations %}

			                        	<li class="c-lined-list__item">

			                        		<section class="c-section u-margin-bottom-none c-section-viewall">
			                        			<header class="c-section__header c-section__header--bare d-flex justify-content-between">
																			<h2 class="c-section__title">{{ componentPage.title }} <span class="a-meta-text a-dimText7">({{ variation.title }})</span> </h2>
			                                <div class="">
			                                  <span class="badge {{ componentPage.statecolor }} a-label badge-pill">{{ componentPage.state }}</span>
			                                </div>
			                        			</header>

			                        			<div class="c-section__body">

			                        				<div class="c-pattern-example u-margin-bottom-double">

			                        					{% if variation.includeClassification == 'atoms' %}
			                        					{% assign atomicNumber = "00" %}
			                        					{% elsif variation.includeClassification == 'molecules' %}
			                        					{% assign atomicNumber = "01" %}
			                        					{% elsif variation.includeClassification == 'organisms' %}
			                        					{% assign atomicNumber = "02" %}
			                        					{% endif %}

			                        					{% capture componentString %}{{ atomicNumber }}-{{ variation.includeClassification }}-{{ variation.includeCategory }}-{{ variation.includeName }}{% endcapture %}
														{% capture iframePath %}patterns/{{ componentString }}/{{ componentString }}.markup-only.html{% endcapture %}

														<div class="iffframe">
															<div class="iffframe__iframe">
															{% include {{ iframePath }} %} 
															</div>
														    <!-- iframe class="iffframe__iframe" frameBorder="0" onload="this.style.height=this.contentDocument.body.scrollHeight +'px';" src="{{ iframePath  | prepend: site.baseurl }}"></iframe -->

														    <div class="iffframe__handle"></div>

														</div><!--end iffframe-->


			                        				</div><!-- end c-pattern-example -->

			                        				<a href="{{ componentPage.permalink  | prepend: site.baseurl }}"> Mer info om {{ componentPage.title }} </a>

			                        			</div><!-- end l-section__body -->

			                        		</section>

			                        	</li><!--end c-lined-list__item -->

			                        	{% endfor %}

			                        </ul><!--end c-lined-list-->


			    				</div><!-- end c-pattern-example -->

			                </div><!-- end c-section__body -->

			            </section><!-- end c-section__body -->

			    	</li><!--end c-lined-list__item -->

					{% endif %}

				{% endif %}

			{% endif %}

		{% endfor %}

	</ul><!-- end c-card-list -->

</div>
