---
layout: default
---

{% include breadcrumbs.html %}

<div class="l-container">

  <div class="form-group a-form-group a-form-group-large mb-4">

      <label class="a-form-label sr-only" for="text-input-find-12">Søk etter komponenter</label>

      <div class="a-form-group-items input-group">

      <input class="form-control a-hasButton live-search-box" type="search" placeholder="Søk etter en komponent" name="input-field" data-val="true" id="text-input-find-12">

      <div class="input-group-btn">
        <button onclick="" class="btn btn-secondary" type="button">
          <i class="ai ai-search"></i>
            <span class="sr-only">Søk</span>
        </button>
      </div>

    </div>
  </div>

  <ul>

    {% for componentPage in site.pages %}

        <li>

    		<section class="c-section u-margin-bottom-none">

    			<div class="c-section__body">

    				<div class="c-pattern-example">

                        <ul class="c-lined-list live-search-list">

                        	{% for variation in componentPage.variations %}

                        	<li class="c-lined-list__item">

                        		<section class="c-section u-margin-bottom-none c-section-viewall">
                        			<header class="c-section__header c-section__header--bare d-flex justify-content-between">
                        				<h2 class="c-section__title">{{ componentPage.title }} <span class="a-meta-text a-dimText7">({{ variation.title }})</span> </h2>
                                <div class="">
                                  <span class="badge {{ componentPage.statecolor }} a-label badge-pill">{{ componentPage.state }}</span>
                                </div>

                        			</header>

                        			<div class="c-section__body">

                        				<div class="c-pattern-example u-margin-bottom-double">

                        					{% if variation.includeClassification == 'atoms' %}
                        					{% assign atomicNumber = "00" %}
                        					{% elsif variation.includeClassification == 'molecules' %}
                        					{% assign atomicNumber = "01" %}
                        					{% elsif variation.includeClassification == 'organisms' %}
                        					{% assign atomicNumber = "02" %}
                        					{% endif %}

                        					{% capture componentString %}{{ atomicNumber }}-{{ variation.includeClassification }}-{{ variation.includeCategory }}-{{ variation.includeName }}{% endcapture %}

                        					{% capture iframePath %}/patterns/{{ componentString }}/{{ componentString }}.rendered.html{% endcapture %}

            											<div class="iffframe">

            											    <iframe class="iffframe__iframe" frameBorder="0" onload="this.style.height=this.contentDocument.body.scrollHeight +'px';" src="{{ iframePath  | prepend: site.baseurl }}"></iframe>

            											    <div class="iffframe__handle"></div>

            											</div><!--end iffframe-->


                        				</div><!-- end c-pattern-example -->

                        				<a href="{{ componentPage.permalink  | prepend: site.baseurl }}"> Mer info om {{ componentPage.title }} </a>

                        			</div><!-- end l-section__body -->

                        		</section>

                        	</li><!--end c-lined-list__item -->

                        	{% endfor %}

                        </ul><!--end c-lined-list-->


    				</div><!-- end c-pattern-example -->

                </div><!-- end c-section__body -->

            </section><!-- end c-section__body -->

    	</li><!--end c-lined-list__item -->

    {% endfor %}

</ul><!--end c-lined-list-->
</div>
