---
layout: default
---

{% include breadcrumbs.html %}

<section class="c-section">

	<div class="l-container">

		<div id="alert-no-arrow" class="a-message a-message-error a-message--arrow-off a-message--fullwidth mb-2 a-py-minus-1 display-brreg">
	    NB: Denne komponenten vil snart få et eget brreg-theme. Inntil dette er klart vil du se Altinns visuelle theme på komponenten.
	  </div>

		<div class="c-tabs js-tabs">

			<ul class="c-tabs__list">
				{% for variation in page.variations %}
				<li class="c-tabs__item">
					<a href="#tab-{{ variation.title | downcase | replace: ' ', '-' }}" class="c-tabs__link js-tab" data-code-tabs="tab-{{ variation.title | downcase | replace: ' ', '-' }}">{% if variation.title %}{{ variation.title }}{% endif %}</a>
				</li><!-- end c-tabs__item -->
				{% endfor %}


			</ul><!-- end c-tabs__list -->

			<div class="c-tabs__body">

				{% for variation in page.variations %}
				<div class="c-tabs__panel js-tabs-panel" id="tab-{{ variation.title | downcase | replace: ' ', '-' }}">

					<section class="c-section">
						<header class="c-section__header">
							{% if variation.title %}<div>{{ variation.title }} {% endif %} : {% if variation.description %}{{ variation.description | markdownify }} </div>{% endif %}
						</header>

						{% if variation.includeClassification == 'atoms' %}
						{% assign atomicNumber = "00" %}
						{% elsif variation.includeClassification == 'molecules' %}
						{% assign atomicNumber = "01" %}
						{% elsif variation.includeClassification == 'organisms' %}
						{% assign atomicNumber = "02" %}
						{% endif %}

						{% capture componentString %}{{ atomicNumber }}-{{ variation.includeClassification }}-{{ variation.includeCategory }}-{{ variation.includeName }}{% endcapture %}

						{% capture path %}/patterns/{{ componentString }}/{{ componentString }}.markup-only.html{% endcapture %}
						<div class="iffframe">
							{% include {{ path }} %}
							<!-- iframe class="iffframe__iframe" frameBorder="0" onload="this.style.height=this.contentDocument.body.scrollHeight +'px';" src="{{ path | prepend: site.baseurl }}"></iframe>

							<div class="iffframe__handle"></div -->

						</div><!--end iffframe-->

					</section><!--end section-->

				</div><!--end c-tabs__panel-->
				{% endfor %}

			</div><!--end c-tabs__body-->

		</div><!--end c-tabs-->

		<ul class="c-tabs-list js-tabs-list">
			{% for variation in page.variations %}

				{% if variation.includeClassification == 'atoms' %}
				{% assign atomicNumber = "00" %}
				{% elsif variation.includeClassification == 'molecules' %}
				{% assign atomicNumber = "01" %}
				{% elsif variation.includeClassification == 'organisms' %}
				{% assign atomicNumber = "02" %}
				{% endif %}

				{% capture componentString %}{{ atomicNumber }}-{{ variation.includeClassification }}-{{ variation.includeCategory }}-{{ variation.includeName }}{% endcapture %}

				{% capture path %}/patterns/{{ componentString }}/{{ componentString }}.rendered.html{% endcapture %}

				<li class="c-tabs-list__item js-tabs-list-item" data-code-tabs="tab-{{ variation.title | downcase | replace: ' ', '-' }}">

					<div class="c-tabs test-tabs  js-tabs">

						<ul class="c-tabs__list">

							<li class="c-tabs__item">
								<a href="#html-{{ forloop.index }}" class="c-tabs__link js-tab">HTML</a>
							</li><!-- end c-tabs__item -->

							<!--

							<li class="c-tabs__item">
								<a href="#angular-{{ forloop.index }}" class="c-tabs__link js-tab">Angular</a>
							</li><!-- end c-tabs__item -->

							<!--<li class="c-tabs__item">
								<a href="#react-{{ forloop.index }}" class="c-tabs__link js-tab">React</a>
							</li><!-- end c-tabs__item -->

						</ul><!-- end c-tabs__list -->

						<div class="c-tabs__body ">

							<div class="c-tabs__panel js-tabs-panel" id="html-{{ forloop.index }}">

								{% capture markupOnlyPath %}/patterns/{{ componentString }}/{{ componentString }}.markup-only.html{% endcapture %}

								<div class="pattern-code">
									<button class="c-btn pattern-code-copy-btn" data-clipboard-target="#pattern-code-{{ forloop.index }}">Kopier</button>
									<pre class="highlight pattern-code-block"><code class="language-html" id="pattern-code-{{ forloop.index }}">{% highlight liquid %}{% include {{ markupOnlyPath }} %}{% endhighlight %}</code></pre>
								</div>

							</div><!--end c-tabs__panel-->


							<div class="c-tabs__panel js-tabs-panel" id="angular-{{ forloop.index }}">

								<div class="pattern-code">
									<button class="c-btn pattern-code-copy-btn" data-clipboard-target="#pattern-code-{{ forloop.index }}">Copy</button>
									<pre class="highlight pattern-code-block"><code class="language-html" id="pattern-code-{{ forloop.index }}">THIS IS ANGULAR CODE</code></pre>
								</div>

							</div><!--end c-tabs__panel-->

							<div class="c-tabs__panel js-tabs-panel" id="react-{{ forloop.index }}">

								<div class="pattern-code">
									<button class="c-btn pattern-code-copy-btn" data-clipboard-target="#pattern-code-{{ forloop.index }}">Copy</button>
									<pre class="highlight pattern-code-block"><code class="language-html" id="pattern-code-{{ forloop.index }}">THIS IS REACT CODE</code></pre>
								</div>

							</div><!--end c-tabs__panel-->

						</div><!-- end c-tabs__body-->

					</div><!-- end c-tabs -->

				</li><!-- end c-tabs-list__item -->
			{% endfor %}

		</ul><!-- end c-tabs-list -->

	</div>

</section><!-- end c-section -->

<section class="c-section">

	<div class="l-container">

		<div class="c-section-header">

			<h2 class="">Retningslinjer for bruk</h2>

		</div><!-- end c-section-header -->

		<div class="c-text-passage l-linelength-container">

			{% for class in page.usage %}
				<h3>{{ class.title }}</h3>
        <p>{{ class.description }}</p>
      {% endfor %}

		</div><!-- end c-text-passage -->

		<div class="c-text-passage l-linelength-container display-altinn">
			{% for class in page.theme-specific-altinn %}
				<h3>Theme-spesifikke policies for Altinn</h3>
        <p>{{ class.description }}</p>
      {% endfor %}
		</div><!-- end c-text-passage -->

		<div class="c-text-passage l-linelength-container display-brreg">
			{% for class in page.theme-specific-brreg %}
				<h3>Theme-spesifikke policies for Brønnøysundregistrene</h3>
        <p>{{ class.description }}</p>
      {% endfor %}
		</div><!-- end c-text-passage -->

		<table class="c-table my-3">

			<thead class="c-table__header">

				<tr class="c-table__header-row">
				<th scope="col" class="c-table__header-cell ">Relevante klasser</th>
				<th scope="col" class="c-table__header-cell ">Obligatorisk</th>
				<th scope="col" class="c-table__header-cell ">Beskrivelse</th>
				</tr><!-- c-table__header-row -->

			</thead><!-- end c-table__header -->

			<tbody class="c-table__body ">
				{% for class in page.classes %}

				<tr class="c-table__row ">

					<td class="c-table__cell ">
						{{ class.className }}
					</td>

					<td class="c-table__cell ">
						{{ class.required }}
					</td>

					<td class="c-table__cell ">
						{% capture desc %}{{ class.description }}{% endcapture %}
						{% if class.description %}{{ desc | markdownify }}{% endif %}
					</td>

				</tr><!-- end c-table__row -->
				{% endfor %}

			</tbody><!-- end c-table__body -->

		</table><!--end c-table-->

	</div>

</section><!-- end c-section -->

<section class="c-section">

	<div class="l-container">

<!-- TODO: SKriv ut dette fra MD-filen?
<div class="c-section-header ">

	<h2>Detaljer</h2>

</div>
		<div class="c-text-passage l-linelength-container">
	        <ul>

	            <li>Versjon: 1</li>
	            <li>Sist oppdatert: April 27, 2017</li>
	            <li>Brukt på : <a href="#">Altinn</a>, <a href="#">Altinnett</a></li>
	        </ul>
		</div> -->

	</div>

</section><!-- end c-section -->
